	.list_container{
		position: absolute;
		background-color: white;
		align-items: center;
		height: 1100px;
		width: 1700px;
		left: 300px
		
	}

	#main{
		width: 100%;
		height: 1800px;
		display: block;
	}

	.page_title{
		margin-top: 30px;
		margin-left: 15px;
		text-align: left;
		padding-bottom: 50px;
		border-bottom: 1px solid lightgray;
	}

	#title{
		font-size: 30px;
		font-weight: bold;
	}

	.price_search_box{
		margin-top: 40px;
		text-align: right;
		margin-right: 10px;
	}
	
	.list_box{
		width :1700px;
	}


	.prod_box{
		float : left;
		width: 230px;
		height: 300px;
		margin-left: 30px;
		margin-top: 50px;
		margin-right: 20px;
		margin-bottom: 30px;
		
	}
	
	.prod_img{
		width: 230px;
		height: 230px;
	}
	

	#prod_name{
		margin-left : 5px;
		font-size : 20px;
		font-weight: bold;
		color: black;
		margin-top: 20px;
	}
	#prod_price{
		margin-left : 5px;
		font-size : 15px;
		font-weight: bold;
		color: black;
		margin-top: 5px;
	}

	#prod_info{
		margin-left : 5px;
		font-size: 12px;
		margin-top: 15px;
	}
	
	
	.list_a{
		text-decoration: none;
		color : black;
	}
	