html {
    font-size: 62.5%;
}

.content_area {
    width: 800px;
    margin: 0 auto;
    background-color: #EAEAEA;
    margin-top: 40px;
	margin-bottom: 40px;
    border: 1px solid #EAEAEA;  
    border-radius : 10px;  
}

.edit_title{
	margin-top: 40px;
	margin-bottom: 50px;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	letter-spacing: 10px;
	font-size: 30px;
}

.edit_form_box{
	margin-left:160px;
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: sans-serif;
	font-weight: bold;
    letter-spacing: 10px;
    font-size : 20px;
}

.input_box{
	height: 50px;
	width: 400px;
}

.s_box{
	height : 50px;
	width : 180px; 
}

.edit_button_box{
	margin-top: 50px;
	margin-bottom: 50px;
	float : center; 
}

.edit_button_box{
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left:160px;
}

.btn{
	margin: 30px;
	height: 60px;
	width : 200px;
	background-color: #81c147;
	border-radius: 10px;
    font-size : 20px;
    font-family : sans-serif;
    font-weight : bold;

}






