@charset "UTF-8";

.order_admin_area{
	padding : 0 auto;	
}

.order_list_box{
	width: 1800px;
    margin-left : 265px;
    margin-top : 100px;
}

#list{
	width: 1600px;
    text-align : center;
    font-size: 30px;
}

.tr_box{
	height: 50px;
}


.title_box{
	margin-left : 220px;
	margin-top : 100px;
	font-size: 40px;
	font-family: sans-serif;
	font-weight: bold;
}




