/* 1rem = 10px濡� �꽕�젙 */
html { font-size: 62.5%; }


.all {
    margin-top: 20rem;
    margin-bottom: 20rem;
}

table {
    width: 78%;                 /* �뀒�씠釉� �쟾泥� �꼻�씠 �꽕�젙 */
    min-width: 110rem;          /* �뀒�씠釉� 理쒖냼 �궗�씠利� */
    border-collapse: collapse;  /* �뀒�씠釉� �씠以묒꽑 �젣嫄� */
    text-align: center;         /* 湲��뵪 媛��슫�뜲 �젙�젹 */

    /* �뀒�씠釉� 以묒븰�쑝濡� �꽕�젙 */
    margin-left: 10vw;
}

th {
    border-bottom: 2px solid #006400;
    color: #5D5D5D;
    font-size: 2rem;
    padding-bottom: 2rem;
}

.th_title {
    width: 80rem;
}

td {
    font-size: 1.5rem;
    border-bottom: 1px solid #BDBDBD;
    padding: 1rem 0 1rem 0;
}

.td_btn {
    border-top: 2px solid #006400;
    border-bottom: 1px solid #ffffff;
    text-align: right;
    padding: 1rem 0.5rem 0 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.writing_btn {
    border-radius: 5px;          /* 紐⑥꽌由� �뫁湲�寃� */
    background-color: #ffffff; /* 諛곌꼍�깋 */
    color: #4c4c4c;            /* 湲��뵪 �깋 */
    border: 1px solid #BDBDBD; /* �뀒�몢由� �꽕�젙 */
    height: 3rem;                /* 踰꾪듉 �넂�씠 */
    width: 10rem;                /* 踰꾪듉 �꼻�씠 */
    font-size: 1.3rem;           /* 湲��뵪 �겕湲� */
    font-weight: bold;           /* 湲��뵪 �몢猿띻쾶 */
    outline: none;               /* 踰꾪듉 �겢由��떆 �깮湲곕뒗 �꽑 �궘�젣 */
}

.writing_btn:hover{
    color: #ffffff;
    background-color: #006400;
  }

/* a�깭洹� 留곹겕 �꽕�젙 */
.link:link {
    text-decoration: none; /* 諛묒쨪 �젣嫄� */
    color: #5D5D5D;
}

/* a�깭洹� �겢由� */
.link:active {
    color: #47C83E;
    font-weight: bold;
    text-decoration-line: underline; /* 湲��뵪 �븘�옒�뿉 �씪�씤�몴�떆 */
}

/* 留덉슦�뒪 �샇踰� �꽕�젙 */
.link:hover {
    color: #47C83E;
    font-weight: bold;
    box-shadow: 0 -0.5rem #006400 inset; /* �삎愿묓뙩 �슚怨� */
}

p{
	font-size: 1.5rem;
}